<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Content_Based_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from ast import literal_eval
import pandas as pd
import math
import numpy as np
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import scipy.sparse
from sklearn.metrics.pairwise import cosine_similarity
import os

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
id='1idXUpsWYnPP3ou6W-3h6moWSvgWDBZs7'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('PopularMovies.csv') 
movies_data = pd.read_csv('PopularMovies.csv',engine='python',index_col=0)
movies_data.head()

   tmdbId  ...           director
0  211672  ...         Kyle Balda
1  177572  ...     Chris Williams
2     155  ...  Christopher Nolan
3     680  ...  Quentin Tarantino
4     278  ...     Frank Darabont

[5 rows x 17 columns]

In [4]:
movies_data.shape

(9081, 17)

In [5]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9081 entries, 0 to 9080
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9081 non-null   int64
 1   title                 9081 non-null   object
 2   budget                9081 non-null   int64
 3   profit                9081 non-null   float64
 4   score                 9081 non-null   float64
 5   release_year          9081 non-null   int64
 6   release_day           9081 non-null   object
 7   keywords              9081 non-null   object
 8   genres                9046 non-null   object
 9   production_countries  8787 non-null   object
 10  production_companies  8417 non-null   object
 11  original_language     9079 non-null   object
 12  runtime               9081 non-null   float64
 13  content               9069 non-null   object
 14  status                9081 non-null   object
 15  cast                  8991 non-null   object
 16  director              9081 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1.2+ MB

In [6]:
movies_data=movies_data.replace(np.nan,'Unknown',regex=True)
movies_data['release_year']=movies_data['release_year'].replace('NaT','1874',regex=True)

In [7]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9081 entries, 0 to 9080
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9081 non-null   int64
 1   title                 9081 non-null   object
 2   budget                9081 non-null   int64
 3   profit                9081 non-null   float64
 4   score                 9081 non-null   float64
 5   release_year          9081 non-null   int64
 6   release_day           9081 non-null   object
 7   keywords              9081 non-null   object
 8   genres                9081 non-null   object
 9   production_countries  9081 non-null   object
 10  production_companies  9081 non-null   object
 11  original_language     9081 non-null   object
 12  runtime               9081 non-null   float64
 13  content               9081 non-null   object
 14  status                9081 non-null   object
 15  cast                  9081 non-null   object
 16  director              9081 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1.2+ MB

In [8]:
movies_data['production_companies']=movies_data['production_companies'].str.replace(" ","")
movies_data['production_companies']=movies_data['production_companies'].str.replace("|","  ")
movies_data['production_countries']=movies_data['production_countries'].str.replace(" ","")
movies_data['production_countries']=movies_data['production_countries'].str.replace("|","  ")
movies_data['cast']=movies_data['cast'].str.replace(" ","")
movies_data['cast']=movies_data['cast'].str.replace("|","  ")
movies_data['genres']=movies_data['genres'].str.replace("|"," ")
movies_data['director']=movies_data['director'].str.replace(" ","")
movies_data['keywords']=movies_data['keywords'].apply(lambda x:x[1:-1])
movies_data['keywords']=movies_data['keywords'].str.replace(',',"  ")
movies_data['keywords']=movies_data['keywords'].str.replace("'","")
movies_data.head(10)

   tmdbId  ...          director
0  211672  ...         KyleBalda
1  177572  ...     ChrisWilliams
2     155  ...  ChristopherNolan
3     680  ...  QuentinTarantino
4     278  ...     FrankDarabont
5  210577  ...      DavidFincher
6  293660  ...         TimMiller
7  157336  ...  ChristopherNolan
8     550  ...      DavidFincher
9  118340  ...         JamesGunn

[10 rows x 17 columns]

In [9]:
movies_data['keywords']=movies_data['keywords']+" " +movies_data['cast']+" "+movies_data['production_companies']+" "+movies_data['production_countries']+" "+movies_data['genres']+" "+movies_data['original_language']+" "+movies_data['release_day']+" "+movies_data['content']+" "+movies_data['director']
movies_data['keywords']=movies_data['keywords'].replace({"[^A-Za-z0-9]+": " "},regex=True)
movies_data['keywords'][0]

'assistant aftercreditsstinger duringcreditsstinger evil mastermind minions 3d SandraBullock JonHamm MichaelKeaton AllisonJanney SteveCoogan JenniferSaunders GeoffreyRush SteveCarell PierreCoffin KatyMixon MichaelBeattie HiroyukiSanada DaveRosenbaum AlexDowding PaulThornley KyleBalda AvaAcres UniversalPictures IlluminationEntertainment UnitedStatesofAmerica Family Animation Adventure Comedy English Wednesday Minions Stuart Kevin and Bob are recruited by Scarlet Overkill a super villain who alongside her inventor husband Herb hatches a plot to take over the world Before Gru they had a history of bad bosses KyleBalda'

In [10]:
vectorizer=TfidfVectorizer(stop_words='english')
X=vectorizer.fit_transform(movies_data['keywords'])
tfidf_df=pd.DataFrame.sparse.from_spmatrix(X)

In [12]:
movies_df=movies_data[['tmdbId','budget','profit','score','release_year','runtime']]
movies_df=movies_df.join(tfidf_df)
movies_df.set_index('tmdbId',inplace=True)
movies_df.shape

(9081, 124699)