<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Content_Based_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from ast import literal_eval
import pandas as pd
import math
import numpy as np

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
id='1P24X15eU7o234y_66hUYV9IDT5BqMVnG'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('PopularMovies.csv') 
movies_data = pd.read_csv('PopularMovies.csv',engine='python',index_col=0)
movies_data.head()

   movieId  ...           director
0   135887  ...         Kyle Balda
1   143355  ...      Patty Jenkins
2      296  ...  Quentin Tarantino
3    58559  ...  Christopher Nolan
4      318  ...     Frank Darabont

[5 rows x 17 columns]

In [4]:
movies_data.shape

(46904, 17)

In [5]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46904 entries, 0 to 46903
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               46904 non-null  int64
 1   title                 46904 non-null  object
 2   budget                46904 non-null  int64
 3   profit                46904 non-null  float64
 4   score                 46904 non-null  float64
 5   release_year          46904 non-null  object
 6   release_day           46904 non-null  object
 7   genres                44380 non-null  object
 8   keywords              46904 non-null  object
 9   production_countries  40388 non-null  object
 10  production_companies  34566 non-null  object
 11  original_language     46774 non-null  object
 12  runtime               46904 non-null  float64
 13  content               45918 non-null  object
 14  status                46904 non-null  object
 15  cast                  44405 non-null  object
 16  director              46904 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 6.4+ MB

In [6]:
movies_data=movies_data.replace(np.nan,'Unknown',regex=True)
movies_data['release_year']=movies_data['release_year'].replace('NaT','1874',regex=True)

In [7]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46904 entries, 0 to 46903
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movieId               46904 non-null  int64
 1   title                 46904 non-null  object
 2   budget                46904 non-null  int64
 3   profit                46904 non-null  float64
 4   score                 46904 non-null  float64
 5   release_year          46904 non-null  object
 6   release_day           46904 non-null  object
 7   genres                46904 non-null  object
 8   keywords              46904 non-null  object
 9   production_countries  46904 non-null  object
 10  production_companies  46904 non-null  object
 11  original_language     46904 non-null  object
 12  runtime               46904 non-null  float64
 13  content               46904 non-null  object
 14  status                46904 non-null  object
 15  cast                  46904 non-null  object
 16  director              46904 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 6.4+ MB

In [ ]:
def remove_spaces(column_name):
  for index in movies_data.index:
    column_list=movies_data.loc[index,column_name]
    column_list=str(column_list).replace(" ","")
    movies_data.loc[index,column_name]=column_list
  movies_data[column_name]=movies_data[column_name].str.split('|')
remove_spaces('production_countries')
remove_spaces('production_companies')
remove_spaces('cast')
movies_data['genres']=movies_data['genres'].str.split('|')
movies_data.head(10)

In [ ]:
movies_data['keywords']=" ".join(movies_data['keywords'])+" ".join(movies_data['cast'])+" ".join(movies_data['production_companies'])+" ".join(movies_data['production_countries'])+" ".join(movies_data['genres'])+movies_data['original_language']+movies_data['release_day']+movies_data['content'] +movies_data['director'].replace(" ","")+movies_data['']
movies_data[['title','keywords']].head(10)