<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Content_Based_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from ast import literal_eval
import pandas as pd
import math
import numpy as np
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import matplotlib.pyplot as plt
import scipy.sparse
from sklearn.metrics.pairwise import cosine_similarity
import os
from sklearn.cluster import KMeans

## **IMPORTING MOVIES DATASET WHICH WAS PREVIOUSLY ARRANGED ACCORDING TO POPULARITY**

In [26]:
movies_data = pd.read_csv('https://raw.githubusercontent.com/disha2sinha/Movie-Recommendation-System/master/Revised%20Datasets/PopularMovies.csv?token=AKDEMFKNH37ZL3MQ4B2ZATTABWFE4',engine='python',index_col=0)
movies_data.head()

   tmdbId  ...           director
0  211672  ...         Kyle Balda
1     550  ...      David Fincher
2     155  ...  Christopher Nolan
3     680  ...  Quentin Tarantino
4  244786  ...    Damien Chazelle

[5 rows x 17 columns]

In [27]:
movies_data.shape

(9081, 17)

In [28]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9081 entries, 0 to 9080
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9081 non-null   int64
 1   title                 9081 non-null   object
 2   budget                9081 non-null   int64
 3   profit                9081 non-null   float64
 4   score                 9081 non-null   float64
 5   release_year          9081 non-null   int64
 6   release_day           9081 non-null   object
 7   keywords              9081 non-null   object
 8   genres                9046 non-null   object
 9   production_countries  8787 non-null   object
 10  production_companies  8417 non-null   object
 11  original_language     9079 non-null   object
 12  runtime               9081 non-null   float64
 13  content               9069 non-null   object
 14  status                9081 non-null   object
 15  cast                  8991 non-null   object
 16  director              9081 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1.2+ MB

In [29]:
movies_data=movies_data.replace(np.nan,'Unknown',regex=True)
movies_data['release_year']=movies_data['release_year'].replace('NaT','1874',regex=True)

In [30]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9081 entries, 0 to 9080
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9081 non-null   int64
 1   title                 9081 non-null   object
 2   budget                9081 non-null   int64
 3   profit                9081 non-null   float64
 4   score                 9081 non-null   float64
 5   release_year          9081 non-null   int64
 6   release_day           9081 non-null   object
 7   keywords              9081 non-null   object
 8   genres                9081 non-null   object
 9   production_countries  9081 non-null   object
 10  production_companies  9081 non-null   object
 11  original_language     9081 non-null   object
 12  runtime               9081 non-null   float64
 13  content               9081 non-null   object
 14  status                9081 non-null   object
 15  cast                  9081 non-null   object
 16  director              9081 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1.2+ MB

#**CONTENT-BASED RECOMMENDATION SYSTEM**

## **KEYWORDS ARE FORMED FROM ALL THE NON-NUMERIC COLUMNS**

In [31]:
movies_data['production_companies']=movies_data['production_companies'].str.replace(" ","")
movies_data['production_companies']=movies_data['production_companies'].str.replace("|","  ")
movies_data['production_countries']=movies_data['production_countries'].str.replace(" ","")
movies_data['production_countries']=movies_data['production_countries'].str.replace("|","  ")
movies_data['cast']=movies_data['cast'].str.replace(" ","")
movies_data['cast']=movies_data['cast'].str.replace("|","  ")
movies_data['genres']=movies_data['genres'].str.replace("|"," ")
movies_data['director']=movies_data['director'].str.replace(" ","")
movies_data['keywords']=movies_data['keywords'].apply(lambda x:x[1:-1])
movies_data['keywords']=movies_data['keywords'].str.replace(',',"  ")
movies_data['keywords']=movies_data['keywords'].str.replace("'","")
movies_data.head(10)

   tmdbId  ...          director
0  211672  ...         KyleBalda
1     550  ...      DavidFincher
2     155  ...  ChristopherNolan
3     680  ...  QuentinTarantino
4  244786  ...    DamienChazelle
5  177572  ...     ChrisWilliams
6  210577  ...      DavidFincher
7      13  ...    RobertZemeckis
8      11  ...       GeorgeLucas
9     278  ...     FrankDarabont

[10 rows x 17 columns]

In [32]:
movies_data['keywords']=movies_data['keywords']+" " +movies_data['cast']+" "+movies_data['production_companies']+" "+movies_data['production_countries']+" "+movies_data['genres']+" "+movies_data['original_language']+" "+movies_data['release_day']+" "+movies_data['content']+" "+movies_data['director']
movies_data['keywords']=movies_data['keywords'].replace({"[^A-Za-z0-9]+": " "},regex=True)
movies_data['keywords'][0]

'assistant aftercreditsstinger duringcreditsstinger evil mastermind minions 3d SandraBullock JonHamm MichaelKeaton AllisonJanney SteveCoogan JenniferSaunders GeoffreyRush SteveCarell PierreCoffin KatyMixon MichaelBeattie HiroyukiSanada DaveRosenbaum AlexDowding PaulThornley KyleBalda AvaAcres UniversalPictures IlluminationEntertainment UnitedStatesofAmerica Family Animation Adventure Comedy English Wednesday Minions Stuart Kevin and Bob are recruited by Scarlet Overkill a super villain who alongside her inventor husband Herb hatches a plot to take over the world Before Gru they had a history of bad bosses KyleBalda'

## **WORD VECTORIZER IS CREATED FROM THE KEYWORDS AND A NEW DATAFRAME IS FORMED COMBINING THE NUMERIC COLUMNS AND WORD VECTORIZER FOR EACH MOVIE ID**

In [33]:
vectorizer=TfidfVectorizer(analyzer='word',stop_words='english')
X=vectorizer.fit_transform(movies_data['keywords'])
tfidf_df=pd.DataFrame.sparse.from_spmatrix(X)

In [34]:
movies_df=movies_data[['tmdbId','budget','profit','score','release_year','runtime']]
movies_df=movies_df.join(tfidf_df)
movies_df.set_index('tmdbId',inplace=True)
movies_df.shape

(9081, 124699)

In [35]:
dftomat=scipy.sparse.csr_matrix(movies_df.values)

In [36]:
dftomat[1,:].toarray()

array([[6.30000000e+07, 3.78537530e+07, 5.54807458e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [37]:
dftomat.shape

(9081, 124699)

## **PERFORMING KMeans ON THE NEW DATAFRAME TO FORM CLUSTERS OF SIMILAR MOVIES:**

### **FINDING OPTIMAL K USING ELBOW METHOD**

In [38]:
#sse={}
#for k in range(4,15):
  #print("K=",k)
  #kmeans=KMeans(n_clusters=k,init='random',max_iter=100).fit(dftomat)
  #sse[k]=kmeans.inertia_
#plt.plot(list(sse.keys()),list(sse.values()),'bx-')
#plt.xlabel("Number of Cluster")
#plt.ylabel("SSE")
#plt.savefig("elbow_method.png")

### **OPTIMAL K VALUE IS 6**

In [39]:
kmeans=KMeans(n_clusters=6,init='k-means++',max_iter=500).fit(dftomat)
movies_df['KmeansCluster']=kmeans.labels_

In [40]:
print("Cluster 0: ",movies_df[movies_df['KmeansCluster']==0].KmeansCluster.count())
print("Cluster 1: ",movies_df[movies_df['KmeansCluster']==1].KmeansCluster.count())
print("Cluster 2: ",movies_df[movies_df['KmeansCluster']==2].KmeansCluster.count())
print("Cluster 3: ",movies_df[movies_df['KmeansCluster']==3].KmeansCluster.count())
print("Cluster 4: ",movies_df[movies_df['KmeansCluster']==4].KmeansCluster.count())
print("Cluster 5: ",movies_df[movies_df['KmeansCluster']==5].KmeansCluster.count())

Cluster 0:  317
Cluster 1:  7726
Cluster 2:  58
Cluster 3:  125
Cluster 4:  7
Cluster 5:  848

In [41]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim=cosine_similarity(dftomat)

In [42]:
cosine_sim=pd.DataFrame(cosine_sim,index=movies_df.index,columns=movies_df.index)
cosine_sim.head(20)

tmdbId    211672    550       155     ...    241251    415       166424
tmdbId                                ...
211672  1.000000  0.572282  0.988201  ...  0.999900  0.720256  0.433691
550     0.572282  1.000000  0.691134  ...  0.583848  0.981070  0.987115
155     0.988201  0.691134  1.000000  ...  0.990272  0.818010  0.566585
680     0.999568  0.547920  0.983269  ...  0.999050  0.699545  0.407006
244786  0.967204  0.761810  0.994696  ...  0.970706  0.872838  0.648339
177572  0.966809  0.762812  0.994535  ...  0.970333  0.873593  0.649518
210577  0.991936  0.671599  0.999644  ...  0.993633  0.802366  0.544391
13      0.999804  0.588424  0.991042  ...  0.999984  0.733865  0.451466
11      0.998550  0.527314  0.978524  ...  0.997687  0.681874  0.384563
278     0.199758  0.917847  0.347479  ...  0.213626  0.823604  0.969534
27205   0.985973  0.701128  0.999903  ...  0.988239  0.825938  0.578001
424     0.999987  0.576471  0.988971  ...  0.999959  0.723796  0.438296
129     0.999944  0.563562  0.986522  ...  0.999693  0.712866  0.424120
24428   0.995058  0.650882  0.998525  ...  0.996365  0.785578  0.521019
1891    0.999433  0.544356  0.982485  ...  0.998856  0.696499  0.403117
293660  0.999933  0.581738  0.989908  ...  0.999997  0.728239  0.444094
150540  0.983352  0.711767  0.999581  ...  0.985829  0.834318  0.590202
238     0.999069  0.536377  0.980674  ...  0.998358  0.689663  0.394421
12445   0.999418  0.599919  0.992850  ...  0.999801  0.743497  0.464171
118340  0.978773  0.728203  0.998615  ...  0.981579  0.847141  0.609155

[20 rows x 9081 columns]

In [43]:
def recommendations(movie_name):
  movie_idx=movies_data[movies_data['title']==movie_name]['tmdbId'].values[0]
  movie_cluster=movies_df.at[movie_idx,'KmeansCluster']
  bestRecommendationsIdx=movies_df[movies_df['KmeansCluster']==movie_cluster].index.values
  scores=[]
  for index in bestRecommendationsIdx:
    scores.append((index,cosine_sim.at[movie_idx,index]))
  scores.sort(key = lambda x: x[1],reverse=True)
  bestRecommendationsdf=pd.DataFrame(columns=['title','genres','cast','director','similarity'])
  for tup in scores:
    if tup[0]!=movie_idx:
      df=movies_data[movies_data['tmdbId']==tup[0]][['title','genres','cast','director']]
      df['similarity']=tup[1]
      bestRecommendationsdf=pd.concat([bestRecommendationsdf,df])

  return bestRecommendationsdf.head(50)
bestRecommendationsdf=recommendations('Minions')
bestRecommendationsdf

                                                  title  ... similarity
180                                       Jurassic Park  ...   0.999987
9009                        The Twilight Saga: New Moon  ...   0.999973
72                                        The Lion King  ...   0.999970
15                                             Deadpool  ...   0.999933
134                                     Despicable Me 2  ...   0.999864
30        The Lord of the Rings: The Return of the King  ...   0.999730
29                The Lord of the Rings: The Two Towers  ...   0.999694
8987                            The Secret Life of Pets  ...   0.999683
1010                                   Independence Day  ...   0.999472
94                                         Finding Nemo  ...   0.999102
1974                     Ice Age: Dawn of the Dinosaurs  ...   0.999021
41    The Lord of the Rings: The Fellowship of the Ring  ...   0.998716
1236                         Ice Age: Continental Drift  ...   0.998616
8                                             Star Wars  ...   0.998550
240                          E.T. the Extra-Terrestrial  ...   0.998498
68              Harry Potter and the Chamber of Secrets  ...   0.998212
89                                               Frozen  ...   0.997927
469           Star Wars: Episode I - The Phantom Menace  ...   0.997343
125            Harry Potter and the Philosopher's Stone  ...   0.996997
301        Star Wars: Episode III - Revenge of the Sith  ...   0.996482
34                                             Zootopia  ...   0.994826
181                     The Hunger Games: Catching Fire  ...   0.993844
123           Harry Potter and the Order of the Phoenix  ...   0.992831
925                                   The Da Vinci Code  ...   0.992344
522                                             Shrek 2  ...   0.992298
248                                          Iron Man 3  ...   0.992044
106            Harry Potter and the Prisoner of Azkaban  ...   0.992035
163               The Hunger Games: Mockingjay - Part 1  ...   0.991754
64                  Harry Potter and the Goblet of Fire  ...   0.991535
318                                          Spider-Man  ...   0.991219
8841                     Transformers: Dark of the Moon  ...   0.990395
8941                Transformers: Revenge of the Fallen  ...   0.989224
433                                             Skyfall  ...   0.989004
950                                     The Jungle Book  ...   0.988869
2                                       The Dark Knight  ...   0.988201
171                                         Toy Story 3  ...   0.987468
116          Pirates of the Caribbean: Dead Man's Chest  ...   0.987416
2441                    Transformers: Age of Extinction  ...   0.986310
10                                            Inception  ...   0.985973
270                                        Finding Dory  ...   0.985819
1785                                Alice in Wonderland  ...   0.985676
184                             Avengers: Age of Ultron  ...   0.984620
5373                                    Shrek the Third  ...   0.984355
885                                    Fast & Furious 6  ...   0.983669
16                                           Inside Out  ...   0.983352
77                           Captain America: Civil War  ...   0.979715
38                                The Dark Knight Rises  ...   0.975307
142                   The Hobbit: An Unexpected Journey  ...   0.970070
162                 The Hobbit: The Desolation of Smaug  ...   0.963497
296           The Hobbit: The Battle of the Five Armies  ...   0.963214

[50 rows x 5 columns]

#**USER TO USER BASED COLLABORATIVE FILTERING**

In [47]:
ratings_data=pd.read_csv('https://raw.githubusercontent.com/disha2sinha/Movie-Recommendation-System/master/Revised%20Datasets/RevisedRatings.csv?token=AKDEMFJETBOFHJSGTXCBOLTABKGPA', index_col=0, engine='python')
ratings_data.head()

        rating  tmdbId
userId
1          2.5    9909
7          3.0    9909
31         4.0    9909
32         4.0    9909
36         3.0    9909

In [48]:
ratings_data['userId']=ratings_data.index
ratings_data=ratings_data.reset_index(drop=True)
movie_name=movies_data[['tmdbId','title']]
ratings_data=ratings_data.merge(movie_name,on='tmdbId')
ratings_data.head()

   rating  tmdbId  userId            title
0     2.5    9909       1  Dangerous Minds
1     3.0    9909       7  Dangerous Minds
2     4.0    9909      31  Dangerous Minds
3     4.0    9909      32  Dangerous Minds
4     3.0    9909      36  Dangerous Minds

In [46]:
print(" Unique Users :",ratings_data.userId.unique().shape[0])

 Unique Users : 671

In [52]:
def collaborative(user_profile):
  print(user_profile.head())
  input_user=user_profile.drop(columns=['userId'])
  users = ratings_data[ratings_data['tmdbId'].isin(input_user['tmdbId'].tolist())]
  print(users.head())

collaborative(ratings_data[ratings_data['userId']==1])

     rating  tmdbId  userId                 title
0       2.5    9909       1       Dangerous Minds
42      3.0   11360       1                 Dumbo
84      3.0     819       1              Sleepers
117     2.0    1103       1  Escape from New York
165     4.0   11216       1       Cinema Paradiso
   rating  tmdbId  userId            title
0     2.5    9909       1  Dangerous Minds
1     3.0    9909       7  Dangerous Minds
2     4.0    9909      31  Dangerous Minds
3     4.0    9909      32  Dangerous Minds
4     3.0    9909      36  Dangerous Minds