<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Overview_of_the_Datasets_Data_Wrangling_and_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Libraries:**

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from ast import literal_eval
import matplotlib.pyplot as plt
!pip install -U -q google_trans_new
from google_trans_new import google_translator
import seaborn as sns

In [2]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [3]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

**IMPORTING 'movies_metadata.csv' :**

In [4]:
link1='https://drive.google.com/file/d/1xjASvbR3qrZ_Xx1rwmb2YoTGt081ih0G/view?usp=sharing'

In [5]:
id='1xjASvbR3qrZ_Xx1rwmb2YoTGt081ih0G'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('movies_metadata.csv')  
movies_metadata = pd.read_csv('movies_metadata.csv',engine='python')
movies_metadata.head(5)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

**IMPORTING links.csv :** This dataset contains the TMDB and IMDB ids of the movies in **'movies_metadata.csv'** .

In [6]:
id='1nKE39CrU55_PImhV1IRznySDkrmsywWG'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('links.csv')  
links = pd.read_csv('links.csv',engine='python')
links.head(5)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9112 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

**MERGING THE 'movies_metadata' DATAFRAME WITH THE 'links.csv'**

In [8]:
movies_metadata['id'] = pd.to_numeric(movies_metadata['id'],errors='coerce')
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45463 non-null  float64
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(5), object(19)
memory usage: 8.3+ MB

In [9]:
links['tmdbId']=np.array(links['tmdbId'], np.int64)
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9125 non-null   int64
dtypes: int64(3)
memory usage: 214.0 KB

In [10]:
movies_metadata.rename(columns={'id':'tmdbId'}, inplace=True)
movies_metadata = pd.merge(movies_metadata,links,on='tmdbId')
movies_metadata.head()

   adult                              belongs_to_collection  ... movieId  imdbId
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...       1  114709
1  False                                                NaN  ...       2  113497
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       3  113228
3  False                                                NaN  ...       4  114885
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...       5  113041

[5 rows x 26 columns]

In [11]:
movies_metadata=movies_metadata[movies_metadata['title']!="Unknown"]
movies_metadata['tmdbId']=movies_metadata['tmdbId'].astype(int)
movies_metadata.reset_index(drop=True)
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9098 entries, 0 to 9098
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9098 non-null   object
 1   belongs_to_collection  1674 non-null   object
 2   budget                 9098 non-null   object
 3   genres                 9098 non-null   object
 4   homepage               1973 non-null   object
 5   tmdbId                 9098 non-null   int64
 6   imdb_id                9098 non-null   object
 7   original_language      9098 non-null   object
 8   original_title         9098 non-null   object
 9   overview               9086 non-null   object
 10  popularity             9098 non-null   object
 11  poster_path            9095 non-null   object
 12  production_companies   9098 non-null   object
 13  production_countries   9098 non-null   object
 14  release_date           9098 non-null   object
 15  revenue                9098 non-null   float64
 16  runtime                9098 non-null   float64
 17  spoken_languages       9098 non-null   object
 18  status                 9096 non-null   object
 19  tagline                7032 non-null   object
 20  title                  9098 non-null   object
 21  video                  9098 non-null   object
 22  vote_average           9098 non-null   float64
 23  vote_count             9098 non-null   float64
 24  movieId                9098 non-null   int64
 25  imdbId                 9098 non-null   int64
dtypes: float64(4), int64(3), object(19)
memory usage: 1.9+ MB

**Exploring movies_metadata.csv :** 
Showing Shape and Column of the **movies_metadata** dataset.

In [12]:
movies_metadata.shape

(9098, 26)

In [13]:
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'tmdbId', 'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'movieId', 'imdbId'],
      dtype='object')

**Modifying the columns 'genre' , 'production_companies' , 'production_countries' , 'spoken_languages' :** Keeping only the value of the 'name' key in the list of these columns for ease of understanding and analysis.

In [14]:
movies_metadata['genres'] = movies_metadata['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_metadata['production_companies'] = movies_metadata['production_companies'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_metadata['production_countries'] = movies_metadata['production_countries'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_metadata.head(5)

   adult                              belongs_to_collection  ... movieId  imdbId
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...       1  114709
1  False                                                NaN  ...       2  113497
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       3  113228
3  False                                                NaN  ...       4  114885
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...       5  113041

[5 rows x 26 columns]

In [15]:
def try_join(l):
  try:
    return '|'.join(map(str,l))
  except TypeError:
    return 'Unknown'
movies_metadata['genres']=[try_join(l)for l in movies_metadata['genres']]
movies_metadata['production_companies']=[try_join(l)for l in movies_metadata['production_companies']]
movies_metadata['production_countries']=[try_join(l)for l in movies_metadata['production_countries']]
movies_metadata.head()

   adult                              belongs_to_collection  ... movieId  imdbId
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...       1  114709
1  False                                                NaN  ...       2  113497
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       3  113228
3  False                                                NaN  ...       4  114885
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...       5  113041

[5 rows x 26 columns]

**Removing unnecessary columns from the dataset :**  The **'belongs_to_collection'** column contains the movie series in which the movie belongs along with some other irrelevant informations. So let's drop this column. Let's drop the **'poster_path'** , **'video'** , **'imdb_id'** and **'homepage'** column as well because we won't require it in our analysis.

In [16]:
movies_metadata.drop('belongs_to_collection',inplace=True,axis=1)
movies_metadata.drop('poster_path',inplace=True,axis=1)
movies_metadata.drop('homepage',inplace=True,axis=1)
movies_metadata.drop('video',inplace=True,axis=1)
movies_metadata.drop('imdb_id',inplace=True,axis=1)
movies_metadata.head(5)

   adult    budget                    genres  ...  vote_count movieId  imdbId
0  False  30000000   Animation|Comedy|Family  ...      5415.0       1  114709
1  False  65000000  Adventure|Fantasy|Family  ...      2413.0       2  113497
2  False         0            Romance|Comedy  ...        92.0       3  113228
3  False  16000000      Comedy|Drama|Romance  ...        34.0       4  114885
4  False         0                    Comedy  ...       173.0       5  113041

[5 rows x 21 columns]

**Exploring remaining Columns :**

In [17]:
movies_metadata[movies_metadata['original_title'] != movies_metadata['title']][['title', 'original_title']].head(10)

                         title              original_title
28   The City of Lost Children  La Cité des Enfants Perdus
29              Shanghai Triad                   摇啊摇，摇到外婆桥
54                 The Postman                  Il postino
55            The Confessional            Le confessionnal
63                French Twist                Gazon maudit
68              Les Miserables              Les misérables
74           The White Balloon                 بادکنک سفید
76              Antonia's Line                     Antonia
102        Rumble in the Bronx                         紅番區
111          Chungking Express                        重慶森林

The **'original_title'** refers to the title of the movie in the native language in which the movie was shot.So let's drop this column too.

In [18]:
movies_metadata.drop('original_title',inplace=True,axis=1)
movies_metadata.head(5)

   adult    budget                    genres  ...  vote_count movieId  imdbId
0  False  30000000   Animation|Comedy|Family  ...      5415.0       1  114709
1  False  65000000  Adventure|Fantasy|Family  ...      2413.0       2  113497
2  False         0            Romance|Comedy  ...        92.0       3  113228
3  False  16000000      Comedy|Drama|Romance  ...        34.0       4  114885
4  False         0                    Comedy  ...       173.0       5  113041

[5 rows x 20 columns]

In [19]:
movies_metadata['adult'].unique()

array(['False'], dtype=object)

There are negligible number of adult movies in this dataset. The adult feature therefore is not of much use to us and can be safely dropped.

In [20]:
movies_metadata.drop('adult',inplace=True,axis=1)
movies_metadata.head()

     budget                    genres  tmdbId  ... vote_count movieId  imdbId
0  30000000   Animation|Comedy|Family     862  ...     5415.0       1  114709
1  65000000  Adventure|Fantasy|Family    8844  ...     2413.0       2  113497
2         0            Romance|Comedy   15602  ...       92.0       3  113228
3  16000000      Comedy|Drama|Romance   31357  ...       34.0       4  114885
4         0                    Comedy   11862  ...      173.0       5  113041

[5 rows x 19 columns]

Let's explore the dataset a bit more.

In [21]:
movies_metadata['status'].value_counts()

Released           9077
Rumored              11
Post Production       7
In Production         1
Name: status, dtype: int64

In [22]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9098 entries, 0 to 9098
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                9098 non-null   object
 1   genres                9098 non-null   object
 2   tmdbId                9098 non-null   int64
 3   original_language     9098 non-null   object
 4   overview              9086 non-null   object
 5   popularity            9098 non-null   object
 6   production_companies  9098 non-null   object
 7   production_countries  9098 non-null   object
 8   release_date          9098 non-null   object
 9   revenue               9098 non-null   float64
 10  runtime               9098 non-null   float64
 11  spoken_languages      9098 non-null   object
 12  status                9096 non-null   object
 13  tagline               7032 non-null   object
 14  title                 9098 non-null   object
 15  vote_average          9098 non-null   float64
 16  vote_count            9098 non-null   float64
 17  movieId               9098 non-null   int64
 18  imdbId                9098 non-null   int64
dtypes: float64(4), int64(3), object(12)
memory usage: 1.4+ MB

Since both the columns **'overview'** and **'tagline'** contains description of the movie...let's combine these two column and form a single column **'content'** .

In [23]:
movies_metadata['overview'] = movies_metadata['overview'].fillna('')
movies_metadata['tagline'] = movies_metadata['tagline'].fillna('')
movies_metadata['content'] = movies_metadata['overview']+movies_metadata['tagline']
movies_metadata.drop('overview',inplace=True,axis=1)
movies_metadata.drop('tagline',inplace=True,axis=1)
movies_metadata.head(5)

     budget  ...                                            content
0  30000000  ...  Led by Woody, Andy's toys live happily in his ...
1  65000000  ...  When siblings Judy and Peter discover an encha...
2         0  ...  A family wedding reignites the ancient feud be...
3  16000000  ...  Cheated on, mistreated and stepped on, the wom...
4         0  ...  Just when George Banks has recovered from his ...

[5 rows x 18 columns]

Now let's count the number of movies with the **'content'** column empty.We may require this data while creating **Content-based Recommendation System**

In [24]:
movies_metadata[movies_metadata['content']==''].movieId.count()

12

We are provided with the **release_date** of the movies but we really don't require the date as such but the **year** and **dayofweek** of release might be useful. So we extract them and store them in two new columns **'release_day'** and **'release_year'**

In [25]:
movies_metadata['release_year'] = pd.to_datetime(movies_metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)
movies_metadata['release_day'] = pd.to_datetime(movies_metadata['release_date'], errors='coerce').dt.day_name()
movies_metadata.drop('release_date',inplace=True,axis=1)
movies_metadata.head()

     budget                    genres  ...  release_year release_day
0  30000000   Animation|Comedy|Family  ...          1995      Monday
1  65000000  Adventure|Fantasy|Family  ...          1995      Friday
2         0            Romance|Comedy  ...          1995      Friday
3  16000000      Comedy|Drama|Romance  ...          1995      Friday
4         0                    Comedy  ...          1995      Friday

[5 rows x 19 columns]

Let's now focus on the three columns of the dataset : **'popularity','vote_average','vote_count'**

In [26]:
movies_metadata['popularity'].describe()

count         9098
unique        9086
top       2.587911
freq             2
Name: popularity, dtype: object

On trying to convert the dtype of **'popularity'** column from object to float.it was found that there is a faulty row.So the row is filtered and then the conversion was made successfully

In [27]:
#movies_metadata=movies_metadata[movies_metadata['popularity']!='Beware Of Frost Bites']
movies_metadata['popularity']=movies_metadata['popularity'].astype(float)
movies_metadata.head()

     budget                    genres  ...  release_year release_day
0  30000000   Animation|Comedy|Family  ...          1995      Monday
1  65000000  Adventure|Fantasy|Family  ...          1995      Friday
2         0            Romance|Comedy  ...          1995      Friday
3  16000000      Comedy|Drama|Romance  ...          1995      Friday
4         0                    Comedy  ...          1995      Friday

[5 rows x 19 columns]

Now we replace the Nan values of **'popularity' , 'vote_average' and 'vote_count'** with the median of the available values and then sort the entire dataset in descending order of the three columns.

In [28]:
popularity_list = movies_metadata[movies_metadata['popularity']!=np.nan]['popularity']
movies_metadata['popularity']=movies_metadata['popularity'].replace(np.nan,popularity_list.median())
voteavg_list = movies_metadata[movies_metadata['vote_average']!=np.nan]['vote_average']
movies_metadata['vote_average']=movies_metadata['vote_average'].replace(np.nan,voteavg_list.median())
votecnt_list = movies_metadata[movies_metadata['vote_count']!=np.nan]['vote_count']
movies_metadata['vote_count']=movies_metadata['vote_count'].replace(np.nan,votecnt_list.median())
movies_metadata.sort_values(by=['popularity','vote_average','vote_count'],inplace=True,axis=0,ascending=False)

In [29]:
movies_metadata.head(20)

         budget  ... release_day
8906   74000000  ...   Wednesday
8681  165000000  ...      Friday
8769   58000000  ...     Tuesday
7404  237000000  ...    Thursday
8671   20000000  ...   Wednesday
8602   61000000  ...   Wednesday
8700  125000000  ...     Tuesday
8770  250000000  ...   Wednesday
266     8000000  ...    Saturday
6909  185000000  ...   Wednesday
485    28000000  ...      Friday
7879  220000000  ...   Wednesday
8649   34000000  ...   Wednesday
8605  170000000  ...    Thursday
8601    3300000  ...      Friday
2372   63000000  ...      Friday
8616  170000000  ...   Wednesday
284    25000000  ...      Friday
321    55000000  ...   Wednesday
4693  140000000  ...   Wednesday

[20 rows x 19 columns]

**Resetting Index post Sorting**

In [30]:
movies_metadata=movies_metadata.reset_index(drop=True)
movies_metadata.head()

      budget                                    genres  ...  release_year release_day
0   74000000         Family|Animation|Adventure|Comedy  ...          2015   Wednesday
1  165000000  Adventure|Family|Animation|Action|Comedy  ...          2014      Friday
2   58000000                   Action|Adventure|Comedy  ...          2016     Tuesday
3  237000000  Action|Adventure|Fantasy|Science Fiction  ...          2009    Thursday
4   20000000                           Action|Thriller  ...          2014   Wednesday

[5 rows x 19 columns]

**Budget Column:** There are too many 0s in the 'budget' column which is absurd. Hence  the 0 values are replaced with median of the non-zero values of 'budget' column. Two rows with absurd value of budget is removed completely

In [31]:
movies_metadata=movies_metadata[movies_metadata['budget']!='/ff9qCepilowshEtG2GYWwzt2bs4.jpg']
movies_metadata=movies_metadata[movies_metadata['budget']!='/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg']
movies_metadata['budget']=movies_metadata['budget'].astype(int)
budget_list = movies_metadata[movies_metadata['budget']!=0]['budget']
movies_metadata['budget']=movies_metadata['budget'].replace(0,budget_list.median())

In [32]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9098 entries, 0 to 9097
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                9098 non-null   int64
 1   genres                9098 non-null   object
 2   tmdbId                9098 non-null   int64
 3   original_language     9098 non-null   object
 4   popularity            9098 non-null   float64
 5   production_companies  9098 non-null   object
 6   production_countries  9098 non-null   object
 7   revenue               9098 non-null   float64
 8   runtime               9098 non-null   float64
 9   spoken_languages      9098 non-null   object
 10  status                9096 non-null   object
 11  title                 9098 non-null   object
 12  vote_average          9098 non-null   float64
 13  vote_count            9098 non-null   float64
 14  movieId               9098 non-null   int64
 15  imdbId                9098 non-null   int64
 16  content               9098 non-null   object
 17  release_year          9098 non-null   object
 18  release_day           9098 non-null   object
dtypes: float64(5), int64(4), object(10)
memory usage: 1.4+ MB

**Original_language column:**  The **'original_language'** column has language code as its value. The **'spoken_languages'** column has both language code and language name as values. Hence the language codes are replaced with language name in the **'original_language'** column with the help of the **'spoken_languages'** column. Then the **'spoken_languages'** column is dropped.

In [33]:
movies_metadata['spoken_languages'] = movies_metadata['spoken_languages'].fillna('[]').apply(literal_eval).apply(lambda x: [(i['iso_639_1'],i['name']) for i in x] if isinstance(x, list) else [])
movies_metadata.head()

      budget                                    genres  ...  release_year release_day
0   74000000         Family|Animation|Adventure|Comedy  ...          2015   Wednesday
1  165000000  Adventure|Family|Animation|Action|Comedy  ...          2014      Friday
2   58000000                   Action|Adventure|Comedy  ...          2016     Tuesday
3  237000000  Action|Adventure|Fantasy|Science Fiction  ...          2009    Thursday
4   20000000                           Action|Thriller  ...          2014   Wednesday

[5 rows x 19 columns]

In [34]:
languages={}
for index in movies_metadata.index:
  for item in movies_metadata.loc[index,'spoken_languages']:
    languages[item[0]]=item[1]

In [35]:
for key in languages.keys():
  translator=google_translator()
  eng=translator.translate(languages[key],lang_tgt='en')
  languages[key]=eng
languages

{'af': 'Afrikaans ',
 'ar': 'Arabic ',
 'as': '',
 'az': 'Azerbaijan ',
 'be': 'Belarusian language ',
 'bg': 'Bulgarian language ',
 'bn': 'Bengali ',
 'bo': '',
 'br': '',
 'bs': 'Bosnian ',
 'ca': 'Catalan ',
 'cn': 'Cantonese / Cantonese ',
 'co': '',
 'cr': '',
 'cs': 'Czech ',
 'cy': 'Welsh ',
 'da': 'Dansk ',
 'de': 'German ',
 'el': 'Greek ',
 'en': 'English ',
 'eo': 'Esperanto ',
 'es': 'Spanish ',
 'et': 'Estonia ',
 'eu': 'Basque ',
 'fa': 'Farsi ',
 'fi': 'Finland ',
 'fr': 'French ',
 'ga': 'Irish ',
 'gd': '',
 'gl': 'Galician ',
 'gn': '',
 'gu': '',
 'he': 'Abrit ',
 'hi': 'Hindi ',
 'hr': 'Croatian ',
 'hu': 'Hungarian ',
 'hy': '',
 'id': 'Indonesian ',
 'is': 'Icelandic ',
 'it': 'Italian ',
 'iu': '',
 'ja': 'Japanese ',
 'jv': '',
 'ka': 'Georgian ',
 'kk': 'Kazakh ',
 'km': '',
 'ko': 'Korean, Korean language ',
 'kw': '',
 'la': 'Latin ',
 'ln': '',
 'lo': '',
 'lv': 'Latvian ',
 'mi': '',
 'mk': '',
 'mn': '',
 'ms': 'Malay language ',
 'mt': 'Maltese ',
 'my': '',
 'nb': 'Bokmål ',
 'ne': '',
 'nl': 'Dutch ',
 'no': 'Norsk ',
 'nv': '',
 'ny': '',
 'oc': '',
 'pa': 'Punjabi ',
 'pl': 'Polish ',
 'ps': 'Pashto ',
 'pt': 'Portuguese ',
 'qu': '',
 'ro': 'Romania ',
 'ru': 'Pусский ',
 'sa': '',
 'sc': '',
 'sg': '',
 'sh': '',
 'si': '',
 'sk': 'Slovenčina ',
 'sl': 'Slovene ',
 'so': 'Somali ',
 'sq': 'Albanian ',
 'sr': 'Serbian ',
 'st': '',
 'sv': 'Swedish ',
 'sw': 'Kiswahili ',
 'ta': 'Tamil ',
 'th': 'Thai language ',
 'tl': '',
 'tr': 'Turkish ',
 'tt': '',
 'ty': '',
 'uk': 'Ukrainian ',
 'ur': 'Urdu ',
 'vi': 'Vietnamese ',
 'wo': 'Wolof ',
 'xh': '',
 'xx': 'No Language ',
 'yi': '',
 'zh': 'Mandarin ',
 'zu': 'isiZulu '}

In [36]:
for index in movies_metadata.index:
  if movies_metadata.loc[index,'original_language'] in languages.keys():
    movies_metadata.loc[index,'original_language']=languages[movies_metadata.loc[index,'original_language']]
movies_metadata['original_language'].fillna('Unknown',inplace=True)
movies_metadata['original_language'].value_counts()

English                     7954
French                       274
Japanese                     188
German                       114
Italian                       98
Spanish                       88
Cantonese / Cantonese         47
Swedish                       42
Mandarin                      39
Dansk                         31
Korean, Korean language       31
Pусский                       27
Portuguese                    25
Dutch                         16
Farsi                         15
Hindi                         13
Finland                       13
Czech                         10
Turkish                        8
Thai language                  7
Norsk                          7
Polish                         6
Abrit                          6
Greek                          5
Serbian                        4
Hungarian                      4
Indonesian                     3
No Language                    3
Bengali                        3
Vietnamese                     2
Bokmål                         2
Romania                        2
Arabic                         2
                               2
Bosnian                        1
Estonia                        1
Slovenčina                     1
Pashto                         1
Ukrainian                      1
Afrikaans                      1
Icelandic                      1
Name: original_language, dtype: int64

**Filling Null Values Using Various Methods**

In [37]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9098 entries, 0 to 9097
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                9098 non-null   int64
 1   genres                9098 non-null   object
 2   tmdbId                9098 non-null   int64
 3   original_language     9098 non-null   object
 4   popularity            9098 non-null   float64
 5   production_companies  9098 non-null   object
 6   production_countries  9098 non-null   object
 7   revenue               9098 non-null   float64
 8   runtime               9098 non-null   float64
 9   spoken_languages      9098 non-null   object
 10  status                9096 non-null   object
 11  title                 9098 non-null   object
 12  vote_average          9098 non-null   float64
 13  vote_count            9098 non-null   float64
 14  movieId               9098 non-null   int64
 15  imdbId                9098 non-null   int64
 16  content               9098 non-null   object
 17  release_year          9098 non-null   object
 18  release_day           9098 non-null   object
dtypes: float64(5), int64(4), object(10)
memory usage: 1.7+ MB

In [38]:
movies_metadata['status'].fillna('Unknown',inplace=True)
movies_metadata['title'].fillna('Unknown',inplace=True)
movies_metadata['release_day'].fillna('Unknown',inplace=True)
movies_metadata['revenue'].fillna(movies_metadata['revenue'].median(),inplace=True)
movies_metadata['runtime'].fillna(movies_metadata['runtime'].mean(),inplace=True)

In [39]:
movies_metadata=movies_metadata.reset_index(drop=True)
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9098 entries, 0 to 9097
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                9098 non-null   int64
 1   genres                9098 non-null   object
 2   tmdbId                9098 non-null   int64
 3   original_language     9098 non-null   object
 4   popularity            9098 non-null   float64
 5   production_companies  9098 non-null   object
 6   production_countries  9098 non-null   object
 7   revenue               9098 non-null   float64
 8   runtime               9098 non-null   float64
 9   spoken_languages      9098 non-null   object
 10  status                9098 non-null   object
 11  title                 9098 non-null   object
 12  vote_average          9098 non-null   float64
 13  vote_count            9098 non-null   float64
 14  movieId               9098 non-null   int64
 15  imdbId                9098 non-null   int64
 16  content               9098 non-null   object
 17  release_year          9098 non-null   object
 18  release_day           9098 non-null   object
dtypes: float64(5), int64(4), object(10)
memory usage: 1.3+ MB

**Revenue Column:** There are too many 0s in the 'revenue' column which is absurd. Hence  the 0 values are replaced with median of the non-zero values of 'revenue' column.

In [40]:
movies_metadata[movies_metadata['revenue']==0].movieId.count()

4330

In [41]:
revenue_list = movies_metadata[movies_metadata['revenue']!=0]['revenue']
movies_metadata['revenue']=movies_metadata['revenue'].replace(0,revenue_list.median())

**FINDING PROFITS GAINED BY MOVIES FROM GIVEN BUDGET AND REVENUE:**

In [42]:
movies_metadata['profit']=movies_metadata['revenue']-movies_metadata['budget']
movies_metadata.head()

      budget  ...        profit
0   74000000  ...  1.082731e+09
1  165000000  ...  4.871054e+08
2   58000000  ...  7.251130e+08
3  237000000  ...  2.550965e+09
4   20000000  ...  6.876166e+07

[5 rows x 20 columns]

**Rearranging Column Names :**

In [43]:
movies_metadata=movies_metadata[['tmdbId','title','release_year','release_day','genres','original_language','runtime','content','production_companies','budget','revenue','production_countries','status','popularity','vote_average','vote_count']]

**Top 5 Bengali Movies According to Popularity, Vote Counts And Vote Average :**

In [44]:
Bengali_movies=movies_metadata[movies_metadata['original_language']=="Bengali "]
Bengali_movies.head()

      tmdbId             title  ... vote_average vote_count
6212    5801   Pather Panchali  ...          7.9       63.0
6926     897         Aparajito  ...          7.9       44.0
7253     896  The World of Apu  ...          8.2       40.0

[3 rows x 16 columns]

**Top 5 Hindi Movies According to Popularity, Vote Counts And Vote Average :**

In [45]:
movies_metadata[movies_metadata['original_language']=='Hindi '].head()

      tmdbId                              title  ... vote_average vote_count
1595   26022                    My Name Is Khan  ...          7.7      237.0
1888     480                    Monsoon Wedding  ...          6.8       59.0
3641   20453                           3 Idiots  ...          7.8      850.0
3902  392572                             Rustom  ...          7.3       25.0
5570   19666  Lagaan: Once Upon a Time in India  ...          7.2      125.0

[5 rows x 16 columns]

In [46]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9098 entries, 0 to 9097
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9098 non-null   int64
 1   title                 9098 non-null   object
 2   release_year          9098 non-null   object
 3   release_day           9098 non-null   object
 4   genres                9098 non-null   object
 5   original_language     9098 non-null   object
 6   runtime               9098 non-null   float64
 7   content               9098 non-null   object
 8   production_companies  9098 non-null   object
 9   budget                9098 non-null   int64
 10  revenue               9098 non-null   float64
 11  production_countries  9098 non-null   object
 12  status                9098 non-null   object
 13  popularity            9098 non-null   float64
 14  vote_average          9098 non-null   float64
 15  vote_count            9098 non-null   float64
dtypes: float64(5), int64(2), object(9)
memory usage: 1.1+ MB

**REMOVING ROWS WITH UNKNOWN TITLE (MOVIE NAME):**

In [47]:
movies_metadata[movies_metadata['title']=="Unknown"].tmdbId.count()

0

**IMPORTING 'keywords.csv'**

In [48]:
id='1F7FQDgz1mwYBq3ed3VjZEJygzPSpuBLz'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('keywords.csv') 
keywords = pd.read_csv('keywords.csv',engine='python',index_col=0)
keywords.head()

                                                keywords
id
862    [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
8844   [{'id': 10090, 'name': 'board game'}, {'id': 1...
15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [49]:
keywords['tmdbId']=keywords.index.copy()
keywords.reset_index(drop=True,inplace=True)
keywords.head()

                                            keywords  tmdbId
0  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...     862
1  [{'id': 10090, 'name': 'board game'}, {'id': 1...    8844
2  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...   15602
3  [{'id': 818, 'name': 'based on novel'}, {'id':...   31357
4  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...   11862

In [50]:
movies_metadata = pd.merge(movies_metadata,keywords,on='tmdbId')
movies_metadata['keywords'] = movies_metadata['keywords'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
movies_metadata[['title','keywords']].head()

        title                                           keywords
0     Minions  [assistant, aftercreditsstinger, duringcredits...
1  Big Hero 6  [brother brother relationship, hero, talent, r...
2    Deadpool  [anti hero, mercenary, marvel comic, superhero...
3      Avatar  [culture clash, future, space war, space colon...
4   John Wick  [hitman, russian mafia, revenge, murder, gangs...

In [51]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9150 entries, 0 to 9149
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9150 non-null   int64
 1   title                 9150 non-null   object
 2   release_year          9150 non-null   object
 3   release_day           9150 non-null   object
 4   genres                9150 non-null   object
 5   original_language     9150 non-null   object
 6   runtime               9150 non-null   float64
 7   content               9150 non-null   object
 8   production_companies  9150 non-null   object
 9   budget                9150 non-null   int64
 10  revenue               9150 non-null   float64
 11  production_countries  9150 non-null   object
 12  status                9150 non-null   object
 13  popularity            9150 non-null   float64
 14  vote_average          9150 non-null   float64
 15  vote_count            9150 non-null   float64
 16  keywords              9150 non-null   object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.3+ MB

**IMPORTING 'credits.csv'**

In [52]:
link3='https://drive.google.com/file/d/1zucIWQqlWHXxwyfO1lc_hleV76RbYwGa/view?usp=sharing'

In [53]:
id='1zucIWQqlWHXxwyfO1lc_hleV76RbYwGa'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('credits.csv')  
credits = pd.read_csv('credits.csv',engine='python')
credits.head(5)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

**EXTRACTING RELEVANT INFORMATION :** The actors' names from the 'cast' column and the director's name from the crew is extracted.

In [54]:
credits['cast'] = credits['cast'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
credits['cast']=[try_join(l)for l in credits['cast']]

In [55]:
credits.head(10)

                                                cast  ...     id
0  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...  ...    862
1  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...  ...   8844
2  Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...  ...  15602
3  Whitney Houston|Angela Bassett|Loretta Devine|...  ...  31357
4  Steve Martin|Diane Keaton|Martin Short|Kimberl...  ...  11862
5  Al Pacino|Robert De Niro|Val Kilmer|Jon Voight...  ...    949
6  Harrison Ford|Julia Ormond|Greg Kinnear|Angie ...  ...  11860
7  Jonathan Taylor Thomas|Brad Renfro|Rachael Lei...  ...  45325
8  Jean-Claude Van Damme|Powers Boothe|Dorian Har...  ...   9091
9  Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...  ...    710

[10 rows x 3 columns]

In [56]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return 'Unknown'

credits['director'] =credits['crew'].apply(literal_eval).apply(get_director)
credits.drop('crew',axis=1,inplace=True)
credits.head()

                                                cast     id         director
0  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...    862    John Lasseter
1  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...   8844     Joe Johnston
2  Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...  15602    Howard Deutch
3  Whitney Houston|Angela Bassett|Loretta Devine|...  31357  Forest Whitaker
4  Steve Martin|Diane Keaton|Martin Short|Kimberl...  11862    Charles Shyer

In [57]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      45476 non-null  object
 1   id        45476 non-null  int64
 2   director  45476 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

**MERGING THE DATAFRAMES 'movies_data' and 'credits' :**

In [58]:
credits.rename(columns={'id':'tmdbId'}, inplace=True)
movies_metadata = pd.merge(movies_metadata,credits,on='tmdbId')
movies_metadata.head()

   tmdbId  ...        director
0  211672  ...      Kyle Balda
1  177572  ...  Chris Williams
2  293660  ...      Tim Miller
3   19995  ...   James Cameron
4  245891  ...  Chad Stahelski

[5 rows x 19 columns]

In [59]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9218 entries, 0 to 9217
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9218 non-null   int64
 1   title                 9218 non-null   object
 2   release_year          9218 non-null   object
 3   release_day           9218 non-null   object
 4   genres                9218 non-null   object
 5   original_language     9218 non-null   object
 6   runtime               9218 non-null   float64
 7   content               9218 non-null   object
 8   production_companies  9218 non-null   object
 9   budget                9218 non-null   int64
 10  revenue               9218 non-null   float64
 11  production_countries  9218 non-null   object
 12  status                9218 non-null   object
 13  popularity            9218 non-null   float64
 14  vote_average          9218 non-null   float64
 15  vote_count            9218 non-null   float64
 16  keywords              9218 non-null   object
 17  cast                  9218 non-null   object
 18  director              9218 non-null   object
dtypes: float64(5), int64(2), object(12)
memory usage: 1.4+ MB

**Top 5 Hrithik Roshan Movies Based on Popularity, vote counts and vote average:**

In [60]:
HRmovie = movies_metadata['cast'].str.contains('Hrithik Roshan')
movies_metadata[HRmovie].head()

      tmdbId  ...            director
8072  402672  ...  Ashutosh Gowariker

[1 rows x 19 columns]

**IMPORTING Ratings.csv**

In [61]:
link4='https://drive.google.com/file/d/1_uqqe2d-H8_NG8en8z5ehF27ajv7N9aq/view?usp=sharing'

In [62]:
id="1_uqqe2d-H8_NG8en8z5ehF27ajv7N9aq"
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('ratings.csv')  
ratings = pd.read_csv('ratings.csv',engine='python')
ratings.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [63]:
#ratings.groupby('movieId').count()

The **'timestamp'** column seems irrelevant. So it is dropped

In [64]:
ratings.drop('timestamp',axis=1,inplace=True)
ratings.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [65]:
ratings = pd.merge(ratings,links,on='movieId')
ratings.drop(columns=['movieId','imdbId'],inplace=True)
ratings.head()

   userId  rating  tmdbId
0       1     2.5    9909
1       7     3.0    9909
2      31     4.0    9909
3      32     4.0    9909
4      36     3.0    9909

In [66]:
ratings.shape

(100004, 3)

In [67]:
for id in ratings['tmdbId'].unique().tolist():
  if id not in movies_metadata['tmdbId'].values:
    ratings=ratings[ratings.tmdbId!=id]
ratings.shape

(99805, 3)

**Let's find out the number of ratings each movie of our movies data recieved**

In [68]:
movies_metadata['rating_count']=pd.DataFrame(ratings.groupby('tmdbId')['rating'].count())
movies_metadata[['title','rating_count']].head()

        title  rating_count
0     Minions           NaN
1  Big Hero 6           NaN
2    Deadpool           1.0
3      Avatar           NaN
4   John Wick           NaN

**Let's count the number of movies for which there is no user rating . We replace Nan values with 0**

In [69]:
movies_metadata['rating_count'].isna().sum()

7095

In [70]:
movies_metadata['rating_count']=movies_metadata['rating_count'].fillna(0)
movies_metadata[movies_metadata['rating_count']==0].tmdbId.count()

7095

In [71]:
movies_metadata['mean_rating']=pd.DataFrame(ratings.groupby('tmdbId')['rating'].mean())
movies_metadata['mean_rating']=movies_metadata['mean_rating'].fillna(0)
movies_metadata.sort_values('rating_count',axis=0,ascending=False,inplace=True)
movies_metadata.head()

     tmdbId                           title  ... rating_count mean_rating
13   119450  Dawn of the Planet of the Apes  ...        341.0    4.054252
680    2124                  Color of Night  ...        324.0    4.256173
278   75656                  Now You See Me  ...        311.0    4.487138
274     567                     Rear Window  ...        304.0    4.138158
11    24428                    The Avengers  ...        291.0    4.221649

[5 rows x 21 columns]

In [72]:
movies_metadata=movies_metadata.reset_index(drop=True)
movies_metadata.head()

   tmdbId                           title  ... rating_count mean_rating
0  119450  Dawn of the Planet of the Apes  ...        341.0    4.054252
1    2124                  Color of Night  ...        324.0    4.256173
2   75656                  Now You See Me  ...        311.0    4.487138
3     567                     Rear Window  ...        304.0    4.138158
4   24428                    The Avengers  ...        291.0    4.221649

[5 rows x 21 columns]

In [73]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9218 entries, 0 to 9217
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9218 non-null   int64
 1   title                 9218 non-null   object
 2   release_year          9218 non-null   object
 3   release_day           9218 non-null   object
 4   genres                9218 non-null   object
 5   original_language     9218 non-null   object
 6   runtime               9218 non-null   float64
 7   content               9218 non-null   object
 8   production_companies  9218 non-null   object
 9   budget                9218 non-null   int64
 10  revenue               9218 non-null   float64
 11  production_countries  9218 non-null   object
 12  status                9218 non-null   object
 13  popularity            9218 non-null   float64
 14  vote_average          9218 non-null   float64
 15  vote_count            9218 non-null   float64
 16  keywords              9218 non-null   object
 17  cast                  9218 non-null   object
 18  director              9218 non-null   object
 19  rating_count          9218 non-null   float64
 20  mean_rating           9218 non-null   float64
dtypes: float64(7), int64(2), object(12)
memory usage: 1.5+ MB

**REMOVING DUPLICATE DATA FROM THE DATASET**

In [74]:
movies_metadata.duplicated(subset=['tmdbId'])
movies_metadata=movies_metadata[movies_metadata.duplicated(subset=['tmdbId'])==False]

In [75]:
movies_metadata.reset_index(inplace=True)
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9081 entries, 0 to 9080
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 9081 non-null   int64
 1   tmdbId                9081 non-null   int64
 2   title                 9081 non-null   object
 3   release_year          9081 non-null   object
 4   release_day           9081 non-null   object
 5   genres                9081 non-null   object
 6   original_language     9081 non-null   object
 7   runtime               9081 non-null   float64
 8   content               9081 non-null   object
 9   production_companies  9081 non-null   object
 10  budget                9081 non-null   int64
 11  revenue               9081 non-null   float64
 12  production_countries  9081 non-null   object
 13  status                9081 non-null   object
 14  popularity            9081 non-null   float64
 15  vote_average          9081 non-null   float64
 16  vote_count            9081 non-null   float64
 17  keywords              9081 non-null   object
 18  cast                  9081 non-null   object
 19  director              9081 non-null   object
 20  rating_count          9081 non-null   float64
 21  mean_rating           9081 non-null   float64
dtypes: float64(7), int64(3), object(12)
memory usage: 1.5+ MB

In [76]:
#movies_metadata.to_csv('MoviesData.csv',index=False)
#from google.colab import files
#files.download("MoviesData.csv")

In [77]:
#ratings.to_csv('RevisedRatings.csv',index=False)
#files.download("RevisedRatings.csv")