<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING LIBRARIES:**

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
import math
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
#https://drive.google.com/file/d/1HcaON_5Qz-bfqlRyDgVWfdS4bD0hQ0Z3/view?usp=sharing

In [3]:
id='1HcaON_5Qz-bfqlRyDgVWfdS4bD0hQ0Z3'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('MoviesData.csv')  
movies_data = pd.read_csv('MoviesData.csv',engine='python',index_col=0)
movies_data.head()

                     title release_year  ... rating_count mean_rating
0                    Se7en         1995  ...      91921.0    4.052926
1                   Batman         1989  ...      91082.0    4.429015
2  The Empire Strikes Back         1980  ...      87901.0    4.169975
3          Drag Me to Hell         2009  ...      84078.0    4.152246
4                  Suspect         1987  ...      77960.0    4.154098

[5 rows x 21 columns]

# **POPULARITY BASED RECOMMENDATION SYSTEM :**

In [4]:
movies_data[['vote_count','vote_average','rating_count','mean_rating','popularity']].describe()

         vote_count  vote_average  rating_count   mean_rating    popularity
count  45663.000000  45663.000000  45663.000000  45663.000000  45663.000000
mean     109.588179      5.617947    484.200666      0.771628      2.922354
std      490.228641      1.924399   2943.748802      1.389116      5.996711
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        3.000000      5.000000      0.000000      0.000000      0.386454
50%       10.000000      6.000000      0.000000      0.000000      1.129126
75%       34.000000      6.800000      0.000000      0.000000      3.685682
max    14075.000000     10.000000  91921.000000      5.000000    547.488298

**WEIGHTED AVERAGE FOR EACH MOVIES AVERAGE RATINGS :**

Weighted Ratings: 
>              W =   Rv + Cm
>                   ---------
                     v+m

R= average rating for the movie as a number from 0 to 10

v= number of votes for the movie

m= minimum votes required to be listed in Top(here 2000)

C=the mean vote across whole report

In [5]:
R=movies_data['vote_average']
v=movies_data['vote_count']
C=movies_data['vote_average'].mean()
m=2000

In [6]:
movies_data['weighted_votes']=(R*v+C*m)/(v+m)
movies_data[['title','weighted_votes']].sort_values('weighted_votes',ascending=False).head(20)

                                                   title  weighted_votes
67                              The Shawshank Redemption        7.943512
1555                                     The Dark Knight        7.924073
2120                                          Fight Club        7.840666
2130                                        Pulp Fiction        7.797272
6075                                           Inception        7.791191
9040                                       The Godfather        7.781642
33564                                       Interstellar        7.723561
109                                         Forrest Gump        7.691071
2594       The Lord of the Rings: The Return of the King        7.614560
1942   The Lord of the Rings: The Fellowship of the Ring        7.562605
2                                The Empire Strikes Back        7.554325
1497                                           Star Wars        7.534483
24                               Guardians of the Galaxy        7.520101
5265               The Lord of the Rings: The Two Towers        7.505849
2266                                    The Intouchables        7.503090
985                                           The Matrix        7.488040
0                                                  Se7en        7.472823
307                                     Schindler's List        7.466547
1597                                            Whiplash        7.458703
1063                                    Django Unchained        7.445108

In [7]:
R1=movies_data['mean_rating']
v1=movies_data['rating_count']
C1=movies_data['mean_rating'].mean()
m1=movies_data['rating_count'].quantile(0.95)
m1

1643.9000000000015

In [8]:
movies_data['weighted_ratings']=(R1*v1+C1*m1)/(v1+m1)
movies_data[['title','weighted_ratings']].sort_values('weighted_ratings',ascending=False).head(20)

                              title  weighted_ratings
1                            Batman          4.364174
19         Three Days of the Condor          4.239907
15   Maze Runner: The Scorch Trials          4.204964
7                    Dracula Untold          4.183633
13                  Far from Heaven          4.138506
63                  The Truman Show          4.113689
2           The Empire Strikes Back          4.107587
47                     Street Kings          4.092986
3                   Drag Me to Hell          4.087415
4                           Suspect          4.084247
5                    V for Vendetta          4.062091
12                       Armageddon          4.055016
14                  Blazing Saddles          4.044482
16                        Mortdecai          4.037933
100                Meet the Parents          4.035784
44                          Gantz:O          4.025664
113                 Spring Breakers          4.023973
75                    Lethal Weapon          4.021116
50                     Philadelphia          4.018497
20                      Black Water          4.010473

**ASSIGNING SCORES TO THE MOVIES BY GIVING 45% IMPORTANCE TO WEIGHTED AVERAGE OF VOTES + 45% IMPORTANCE TO POPULARITY + 10% TO WEIGHTED AVERAGE OF RATINGS**

In [9]:
scaler=MinMaxScaler()
movies_data[['weighted_votes','weighted_ratings','popularity']]=scaler.fit_transform(movies_data[['weighted_votes','weighted_ratings','popularity']])
movies_data['score']=movies_data['weighted_votes']*0.45 + movies_data['weighted_ratings']*0.1+movies_data['popularity']*0.45
movies_data[['title','weighted_votes','weighted_ratings','popularity','score']].sort_values('score',ascending=False).head(10)

                                title  weighted_votes  ...  popularity     score
27517                         Minions        0.404024  ...    1.000000  0.631838
9                        Wonder Woman        0.599344  ...    0.537613  0.596277
1555                  The Dark Knight        0.993477  ...    0.224968  0.583985
2130                     Pulp Fiction        0.950925  ...    0.257449  0.581325
67           The Shawshank Redemption        1.000000  ...    0.094332  0.568223
1609                       Big Hero 6        0.775159  ...    0.390602  0.562360
116    Guardians of the Galaxy Vol. 2        0.690749  ...    0.338511  0.543875
328                          Deadpool        0.728643  ...    0.343132  0.540304
131              Beauty and the Beast        0.510901  ...    0.524675  0.530570
1218                        Gone Girl        0.794494  ...    0.282748  0.530164

[10 rows x 5 columns]

In [11]:
short_movies_data=movies_data[['movieId','title','budget','profit','score','release_year','release_day','genres','production_countries','production_companies','original_language','runtime','content','status','cast','director']]
short_movies_data=short_movies_data.sort_values('score',ascending=False).reset_index(drop=True)
short_movies_data.head(10)

   movieId  ...           director
0   135887  ...         Kyle Balda
1   143355  ...      Patty Jenkins
2    58559  ...  Christopher Nolan
3      296  ...  Quentin Tarantino
4      318  ...     Frank Darabont
5   115617  ...     Chris Williams
6   122918  ...         James Gunn
7   122904  ...         Tim Miller
8   168366  ...        Bill Condon
9   112556  ...      David Fincher

[10 rows x 16 columns]