<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from ast import literal_eval
import pandas as pd
import math
import numpy as np
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
import re
import matplotlib.pyplot as plt
import scipy.sparse
from sklearn.metrics.pairwise import cosine_similarity
import os
from sklearn.cluster import KMeans
import math

## **IMPORTING MOVIES DATASET WHICH WAS PREVIOUSLY ARRANGED ACCORDING TO POPULARITY**

In [2]:
movies_data = pd.read_csv('https://raw.githubusercontent.com/disha2sinha/Movie-Recommendation-System/master/Revised%20Datasets/PopularMovies.csv?token=AKDEMFKNH37ZL3MQ4B2ZATTABWFE4',engine='python',index_col=0)
movies_data.head()

   tmdbId  ...           director
0  211672  ...         Kyle Balda
1     550  ...      David Fincher
2     155  ...  Christopher Nolan
3     680  ...  Quentin Tarantino
4  244786  ...    Damien Chazelle

[5 rows x 17 columns]

In [3]:
movies_data.shape

(9081, 17)

In [4]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9081 entries, 0 to 9080
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9081 non-null   int64
 1   title                 9081 non-null   object
 2   budget                9081 non-null   int64
 3   profit                9081 non-null   float64
 4   score                 9081 non-null   float64
 5   release_year          9081 non-null   int64
 6   release_day           9081 non-null   object
 7   keywords              9081 non-null   object
 8   genres                9046 non-null   object
 9   production_countries  8787 non-null   object
 10  production_companies  8417 non-null   object
 11  original_language     9079 non-null   object
 12  runtime               9081 non-null   float64
 13  content               9069 non-null   object
 14  status                9081 non-null   object
 15  cast                  8991 non-null   object
 16  director              9081 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1.2+ MB

In [5]:
movies_data=movies_data.replace(np.nan,'Unknown',regex=True)
movies_data['release_year']=movies_data['release_year'].replace('NaT','1874',regex=True)

In [6]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9081 entries, 0 to 9080
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tmdbId                9081 non-null   int64
 1   title                 9081 non-null   object
 2   budget                9081 non-null   int64
 3   profit                9081 non-null   float64
 4   score                 9081 non-null   float64
 5   release_year          9081 non-null   int64
 6   release_day           9081 non-null   object
 7   keywords              9081 non-null   object
 8   genres                9081 non-null   object
 9   production_countries  9081 non-null   object
 10  production_companies  9081 non-null   object
 11  original_language     9081 non-null   object
 12  runtime               9081 non-null   float64
 13  content               9081 non-null   object
 14  status                9081 non-null   object
 15  cast                  9081 non-null   object
 16  director              9081 non-null   object
dtypes: float64(3), int64(3), object(11)
memory usage: 1.2+ MB

#**CONTENT-BASED RECOMMENDATION SYSTEM**

## **KEYWORDS ARE FORMED FROM ALL THE NON-NUMERIC COLUMNS**

In [7]:
movies_data['production_companies']=movies_data['production_companies'].str.replace(" ","")
movies_data['production_companies']=movies_data['production_companies'].str.replace("|","  ")
movies_data['production_countries']=movies_data['production_countries'].str.replace(" ","")
movies_data['production_countries']=movies_data['production_countries'].str.replace("|","  ")
movies_data['cast']=movies_data['cast'].str.replace(" ","")
movies_data['cast']=movies_data['cast'].str.replace("|","  ")
movies_data['genres']=movies_data['genres'].str.replace("|"," ")
movies_data['director']=movies_data['director'].str.replace(" ","")
movies_data['keywords']=movies_data['keywords'].apply(lambda x:x[1:-1])
movies_data['keywords']=movies_data['keywords'].str.replace(',',"  ")
movies_data['keywords']=movies_data['keywords'].str.replace("'","")
movies_data.head(10)

   tmdbId  ...          director
0  211672  ...         KyleBalda
1     550  ...      DavidFincher
2     155  ...  ChristopherNolan
3     680  ...  QuentinTarantino
4  244786  ...    DamienChazelle
5  177572  ...     ChrisWilliams
6  210577  ...      DavidFincher
7      13  ...    RobertZemeckis
8      11  ...       GeorgeLucas
9     278  ...     FrankDarabont

[10 rows x 17 columns]

In [8]:
movies_data['keywords']=movies_data['keywords']+" " +movies_data['cast']+" "+movies_data['production_companies']+" "+movies_data['production_countries']+" "+movies_data['genres']+" "+movies_data['original_language']+" "+movies_data['release_day']+" "+movies_data['content']+" "+movies_data['director']
movies_data['keywords']=movies_data['keywords'].replace({"[^A-Za-z0-9]+": " "},regex=True)
movies_data['keywords'][0]

'assistant aftercreditsstinger duringcreditsstinger evil mastermind minions 3d SandraBullock JonHamm MichaelKeaton AllisonJanney SteveCoogan JenniferSaunders GeoffreyRush SteveCarell PierreCoffin KatyMixon MichaelBeattie HiroyukiSanada DaveRosenbaum AlexDowding PaulThornley KyleBalda AvaAcres UniversalPictures IlluminationEntertainment UnitedStatesofAmerica Family Animation Adventure Comedy English Wednesday Minions Stuart Kevin and Bob are recruited by Scarlet Overkill a super villain who alongside her inventor husband Herb hatches a plot to take over the world Before Gru they had a history of bad bosses KyleBalda'

## **WORD VECTORIZER IS CREATED FROM THE KEYWORDS AND A NEW DATAFRAME IS FORMED COMBINING THE NUMERIC COLUMNS AND WORD VECTORIZER FOR EACH MOVIE ID**

In [9]:
vectorizer=TfidfVectorizer(analyzer='word',stop_words='english')
X=vectorizer.fit_transform(movies_data['keywords'])
tfidf_df=pd.DataFrame.sparse.from_spmatrix(X)

In [10]:
movies_df=movies_data[['tmdbId','budget','profit','score','release_year','runtime']]
movies_df=movies_df.join(tfidf_df)
movies_df.set_index('tmdbId',inplace=True)
movies_df.shape

(9081, 124699)

In [11]:
dftomat=scipy.sparse.csr_matrix(movies_df.values)

In [12]:
dftomat[1,:].toarray()

array([[6.30000000e+07, 3.78537530e+07, 5.54807458e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [13]:
dftomat.shape

(9081, 124699)

## **PERFORMING KMeans ON THE NEW DATAFRAME TO FORM CLUSTERS OF SIMILAR MOVIES:**

### **FINDING OPTIMAL K USING ELBOW METHOD**

In [14]:
#sse={}
#for k in range(4,15):
  #print("K=",k)
  #kmeans=KMeans(n_clusters=k,init='random',max_iter=100).fit(dftomat)
  #sse[k]=kmeans.inertia_
#plt.plot(list(sse.keys()),list(sse.values()),'bx-')
#plt.xlabel("Number of Cluster")
#plt.ylabel("SSE")
#plt.savefig("elbow_method.png")

### **OPTIMAL K VALUE IS 6**

In [15]:
kmeans=KMeans(n_clusters=6,init='k-means++',max_iter=500).fit(dftomat)
movies_df['KmeansCluster']=kmeans.labels_

In [16]:
print("Cluster 0: ",movies_df[movies_df['KmeansCluster']==0].KmeansCluster.count())
print("Cluster 1: ",movies_df[movies_df['KmeansCluster']==1].KmeansCluster.count())
print("Cluster 2: ",movies_df[movies_df['KmeansCluster']==2].KmeansCluster.count())
print("Cluster 3: ",movies_df[movies_df['KmeansCluster']==3].KmeansCluster.count())
print("Cluster 4: ",movies_df[movies_df['KmeansCluster']==4].KmeansCluster.count())
print("Cluster 5: ",movies_df[movies_df['KmeansCluster']==5].KmeansCluster.count())

Cluster 0:  7742
Cluster 1:  56
Cluster 2:  309
Cluster 3:  7
Cluster 4:  118
Cluster 5:  849

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim=cosine_similarity(dftomat)

In [18]:
cosine_sim=pd.DataFrame(cosine_sim,index=movies_df.index,columns=movies_df.index)
cosine_sim.head(20)

tmdbId    211672    550       155     ...    241251    415       166424
tmdbId                                ...
211672  1.000000  0.572282  0.988201  ...  0.999900  0.720256  0.433691
550     0.572282  1.000000  0.691134  ...  0.583848  0.981070  0.987115
155     0.988201  0.691134  1.000000  ...  0.990272  0.818010  0.566585
680     0.999568  0.547920  0.983269  ...  0.999050  0.699545  0.407006
244786  0.967204  0.761810  0.994696  ...  0.970706  0.872838  0.648339
177572  0.966809  0.762812  0.994535  ...  0.970333  0.873593  0.649518
210577  0.991936  0.671599  0.999644  ...  0.993633  0.802366  0.544391
13      0.999804  0.588424  0.991042  ...  0.999984  0.733865  0.451466
11      0.998550  0.527314  0.978524  ...  0.997687  0.681874  0.384563
278     0.199758  0.917847  0.347479  ...  0.213626  0.823604  0.969534
27205   0.985973  0.701128  0.999903  ...  0.988239  0.825938  0.578001
424     0.999987  0.576471  0.988971  ...  0.999959  0.723796  0.438296
129     0.999944  0.563562  0.986522  ...  0.999693  0.712866  0.424120
24428   0.995058  0.650882  0.998525  ...  0.996365  0.785578  0.521019
1891    0.999433  0.544356  0.982485  ...  0.998856  0.696499  0.403117
293660  0.999933  0.581738  0.989908  ...  0.999997  0.728239  0.444094
150540  0.983352  0.711767  0.999581  ...  0.985829  0.834318  0.590202
238     0.999069  0.536377  0.980674  ...  0.998358  0.689663  0.394421
12445   0.999418  0.599919  0.992850  ...  0.999801  0.743497  0.464171
118340  0.978773  0.728203  0.998615  ...  0.981579  0.847141  0.609155

[20 rows x 9081 columns]

In [19]:
def content_based(movie_name):
  movie_idx=movies_data[movies_data['title']==movie_name]['tmdbId'].values[0]
  movie_cluster=movies_df.at[movie_idx,'KmeansCluster']
  bestRecommendationsIdx=movies_df[movies_df['KmeansCluster']==movie_cluster].index.values
  scores=[]
  for index in bestRecommendationsIdx:
    scores.append((index,cosine_sim.at[movie_idx,index]))
  scores.sort(key = lambda x: x[1],reverse=True)
  bestRecommendationsdf=pd.DataFrame(columns=['title','genres'])
  for tup in scores:
    if tup[0]!=movie_idx:
      df=movies_data[movies_data['tmdbId']==tup[0]][['title','genres']]
      bestRecommendationsdf=pd.concat([bestRecommendationsdf,df])

  return bestRecommendationsdf.head(10)
bestRecommendationsdf=content_based('Minions')
bestRecommendationsdf

                                              title                            genres
180                                   Jurassic Park         Adventure Science Fiction
9009                    The Twilight Saga: New Moon   Adventure Fantasy Drama Romance
72                                    The Lion King            Family Animation Drama
15                                         Deadpool           Action Adventure Comedy
134                                 Despicable Me 2           Animation Comedy Family
30    The Lord of the Rings: The Return of the King          Adventure Fantasy Action
29            The Lord of the Rings: The Two Towers          Adventure Fantasy Action
8987                        The Secret Life of Pets                  Animation Family
1010                               Independence Day  Action Adventure Science Fiction
94                                     Finding Nemo                  Animation Family

#**USER TO USER BASED COLLABORATIVE FILTERING**

In [20]:
ratings_data=pd.read_csv('https://raw.githubusercontent.com/disha2sinha/Movie-Recommendation-System/master/Revised%20Datasets/RevisedRatings.csv?token=AKDEMFPBZWMGMKXJLF375W3ACQQ26', index_col=0, engine='python')
ratings_data.head()

        rating  tmdbId
userId
1          2.5    9909
7          3.0    9909
31         4.0    9909
32         4.0    9909
36         3.0    9909

In [21]:
ratings_data['userId']=ratings_data.index
ratings_data=ratings_data.reset_index(drop=True)
movie_name=movies_data[['tmdbId','title']]
ratings_data=ratings_data.merge(movie_name,on='tmdbId')
ratings_data.head()

   rating  tmdbId  userId            title
0     2.5    9909       1  Dangerous Minds
1     3.0    9909       7  Dangerous Minds
2     4.0    9909      31  Dangerous Minds
3     4.0    9909      32  Dangerous Minds
4     3.0    9909      36  Dangerous Minds

In [22]:
print(" Unique Users :",ratings_data.userId.unique().shape[0])

 Unique Users : 671

In [26]:
def collaborative(user_profile):
  userId=user_profile.at[0,'userId']
  input_user=user_profile.drop(columns=['userId'])
  users = ratings_data[ratings_data['tmdbId'].isin(input_user['tmdbId'].tolist())]
  users=users[users['userId']!=userId]
  #Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
  userSubsetGroup = users.groupby(['userId'])

  #Sorting it so users with movie most in common with the input will have priority
  userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)
  userSubsetGroup = userSubsetGroup[0:100]
  #Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
  pearsonCorDict = {}
  #For every user group in our subset
  for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='tmdbId')
    input_user = input_user.sort_values(by='tmdbId')
    #Get the N for the formula
    n = len(group)
    #Get the review scores for the movies that they both have in common
    temp = input_user[input_user['tmdbId'].isin(group['tmdbId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp['rating'].tolist()
    #put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(n)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(n)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(n)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorDict[name] = Sxy/math.sqrt(Sxx*Syy)
    else:
        pearsonCorDict[name] = 0
  pearsonDF = pd.DataFrame.from_dict(pearsonCorDict, orient='index')
  pearsonDF.columns = ['similarityIndex']
  pearsonDF['userId'] = pearsonDF.index
  pearsonDF.index = range(len(pearsonDF))
  topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
  topUsersRating=topUsers.merge(ratings_data, left_on='userId', right_on='userId', how='inner')
  #Multiplies the similarity by the user's ratings
  topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
  #Applies a sum to the topUsers after grouping it up by userId
  tempTopUsersRating = topUsersRating.groupby('tmdbId').sum()[['similarityIndex','weightedRating']]
  tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
    #Creates an empty dataframe
  recommendation_df = pd.DataFrame()
    #Now we take the weighted average
  recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
  recommendation_df['tmdbId'] = tempTopUsersRating.index
  recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
  recommendations=pd.DataFrame(movies_data.loc[movies_data['tmdbId'].isin(recommendation_df.head(25)['tmdbId'].tolist())][['title','genres']])
  #Also Recommend Movies similar to liked movies of user
  liked_movies=user_profile[user_profile['rating']>=3.0]
  for movie in liked_movies['title']:
    rating=liked_movies[liked_movies['title']==movie]['rating'].values[0]
    print()
    print("====================Movie Similar to ",movie," rated ",rating," by User=======================================")
    print()
    print(content_based(movie))
  print()
  print("=============================User May Also Like=============================================")
  print()
  print(pd.DataFrame(recommendations))
collaborative(ratings_data[ratings_data['userId']==1])

====================Movie Similar to  Dumbo  rated  3.0  by User=======================================

                      title                                     genres
5683             Son in Law                       Comedy Drama Romance
8409              Guess Who                             Comedy Romance
8491        Jennifer's Body                              Comedy Horror
4145               Soapdish                       Comedy Drama Romance
7696           The Big Bang                    Action Mystery Thriller
8749  40 Days and 40 Nights                             Comedy Romance
8375                   They                            Horror Thriller
7979              Replicant  Action Adventure Science Fiction Thriller
7842               The Pest                              Action Comedy
6682                Carpool                              Comedy Family

====================Movie Similar to  Sleepers  rated  3.0  by User=======================================

                                    title                                 genres
2079                    Pineapple Express                          Action Comedy
8541                              Timecop  Thriller Science Fiction Action Crime
561                        22 Jump Street                    Crime Comedy Action
1125                       School of Rock                           Comedy Music
2662                        Vantage Point            Drama Action Thriller Crime
2457  The Naked Gun 2: The Smell of Fear                           Comedy Crime
335                           The Fighter                                  Drama
4689                       The Specialist                        Action Thriller
2436                                 1408                        Horror Thriller
417                         Lone Survivor              Action Drama Thriller War

====================Movie Similar to  Cinema Paradiso  rated  4.0  by User=======================================

                     title                                        genres
7777         Rock-A-Doodle         Comedy Family Animation Fantasy Music
3016        The Changeling                               Horror Thriller
3795     Detroit Rock City                                  Comedy Music
1001     Catch and Release                          Comedy Drama Romance
8944            The Spirit  Action Comedy Thriller Crime Science Fiction
3642     Gods and Monsters                                         Drama
2084            Green Room                         Horror Crime Thriller
7956  She's Out of Control                                Comedy Romance
8893                  Tusk                                 Comedy Horror
3596   The Sweet Hereafter                                         Drama

====================Movie Similar to  Dracula  rated  3.5  by User=======================================

                                              title                                     genres
3504                                 The Ugly Truth                             Comedy Romance
1234                                          Babel                                      Drama
3450                                            Elf                      Comedy Family Fantasy
1176                            Legends of the Fall                Adventure Drama Romance War
8328                                      Halloween                                     Horror
525                            Hot Shots! Part Deux                          Action Comedy War
5264                                     27 Dresses                             Comedy Romance
1648  Pokmon: The First Movie: Mewtwo Strikes Back                                  Animation
1820                       The Fast and the Furious                      Action Crime Thriller
118                                        Predator  Science Fiction Action Adventure Thriller

====================Movie Similar to  The French Connection  rated  4.0  by User=======================================

                                         title                    genres
2003  My Left Foot: The Story of Christy Brown                     Drama
1295                  Police Story 3: Supercop     Action Crime Thriller
1564                               Deliverance  Drama Adventure Thriller
3664                                  War Room                     Drama
4607                              Death Wish 2     Action Crime Thriller
1634                                  Swingers            Comedy Romance
2366                     The Last Picture Show                     Drama
6581                      Phantom of the Opera      Music Horror Romance
5278                        Artists and Models                    Comedy
1301                     Rebel Without a Cause                     Drama

====================Movie Similar to  Tron  rated  4.0  by User=======================================

                 title                                             genres
3495              Narc                        Action Crime Drama Thriller
8889      Superman III    Comedy Action Adventure Fantasy Science Fiction
8457      Mother's Day                                             Comedy
2580             Cach                             Mystery Drama Thriller
6246    Must Love Dogs                                     Romance Comedy
360   The Book of Life  Romance Animation Adventure Comedy Family Fantasy
176               Moon                              Science Fiction Drama
5538       Silent Hill                                     Horror Mystery
2451   Central Station                                              Drama
8871        Ghost Ship                            Horror Mystery Thriller

====================Movie Similar to  The Gods Must Be Crazy  rated  3.0  by User=======================================

                      title                    genres
4756  The Buddy Holly Story                     Drama
3613          Mystery Train        Crime Drama Comedy
964      Memories of Murder      Crime Drama Thriller
98       A Clockwork Orange     Science Fiction Drama
153              Casablanca             Drama Romance
372        The Wizard of Oz  Adventure Family Fantasy
6789                Grandma              Comedy Drama
1476               The Gift          Thriller Mystery
95           Reservoir Dogs            Crime Thriller
1183              Notorious    Thriller Drama Romance

====================Movie Similar to  Blazing Saddles  rated  3.0  by User=======================================

                                title                              genres
447                        Goldfinger           Adventure Action Thriller
1903                     Animal House                              Comedy
1460            From Russia with Love           Action Thriller Adventure
3211                  Vanishing Point               Action Thriller Drama
1053                           Saw II                              Horror
8839            Paranormal Activity 2                     Horror Thriller
1227                     The Rescuers  Fantasy Family Animation Adventure
3881                       Love Story                       Drama Romance
1071                         Fantasia              Animation Family Music
73    One Flew Over the Cuckoo's Nest                               Drama

=============================User May Also Like=============================================

                                                  title                            genres
798                                            Brooklyn                     Drama Romance
1510                                              Ikiru                             Drama
2549                                The Devil's Rejects                Drama Horror Crime
2753                          It's Such a Beautiful Day    Fantasy Animation Comedy Drama
2814                                      Autumn Sonata                       Music Drama
3179                                        My Winnipeg  Comedy Documentary Drama History
3416                                A Face in the Crowd                             Drama
3477                               The Day of the Beast        Action Comedy Horror Crime
3488                                     Horror Express                            Horror
3551                                       The Prophecy           Fantasy Horror Thriller
3695                                  Eye of the Needle     Action Drama Romance Thriller
4197                                        Family Plot             Comedy Crime Thriller
4307                                        Pumpkinhead                    Fantasy Horror
4670                                            3 Women                             Drama
4949                               Lonely Are the Brave                     Drama Western
5040                                    The Pillow Book             Drama Foreign Romance
5257                                             Asylum           Horror Thriller Mystery
5512                                 All the King's Men                             Drama
5624                                        Palindromes                      Comedy Drama
6219                                               Aria                Comedy Drama Music
6717                             King Kong vs. Godzilla  Action Adventure Science Fiction
6924  The Endurance: Shackleton's Legendary Antarcti...               Documentary History
7290                    Love Is a Many-Splendored Thing                     Drama Romance
7658                                           H.O.T.S.                            Comedy
7922                                    Who's That Girl                            Comedy

## **NEW USER**

In [27]:
new_user=[[3.0,362045,800,'Bajirao Mastani'],[4.5,20453,800,'3 Idiots'],[3.0,9909,800,'Dangerous Minds'],[2.5,211672,800,'Minions'],[4.0,185008,800,'Yeh Jawaani Hai Deewani'],[5.0, 11, 800, 'Star Wars'],[3.0, 193, 800, 'Star Trek: Generations'],
       [4.0, 36955, 800, 'True Lies'],[2.0, 172, 800, 'Star Trek V: The Final Frontier'],[1.0, 9361, 800, 'The Last of the Mohicans']]
user_df=pd.DataFrame(new_user,columns=['rating','tmdbId','userId','title'])
user_df

   rating  tmdbId  userId                            title
0     3.0  362045     800                  Bajirao Mastani
1     4.5   20453     800                         3 Idiots
2     3.0    9909     800                  Dangerous Minds
3     2.5  211672     800                          Minions
4     4.0  185008     800          Yeh Jawaani Hai Deewani
5     5.0      11     800                        Star Wars
6     3.0     193     800           Star Trek: Generations
7     4.0   36955     800                        True Lies
8     2.0     172     800  Star Trek V: The Final Frontier
9     1.0    9361     800         The Last of the Mohicans

In [28]:
collaborative(user_df)

====================Movie Similar to  Bajirao Mastani  rated  3.0  by User=======================================

                                    title                         genres
781                         Boogie Nights                          Drama
904                         King of Kings                          Drama
440                         Swimming Pool                 Thriller Crime
3391          One Piece Film Strong World    Animation Fantasy Adventure
3376         History of the World: Part I                         Comedy
5585                             Drumline     Drama Romance Comedy Music
8702           The Men Who Stare at Goats                     Comedy War
6990                   Eyes of Laura Mars  Drama Horror Mystery Thriller
416   Lock, Stock and Two Smoking Barrels                   Comedy Crime
320                               Amadeus            Drama History Music

====================Movie Similar to  3 Idiots  rated  4.5  by User=======================================

                                             title                         genres
3019                       The Thomas Crown Affair   Romance Crime Thriller Drama
4152                                        Colors             Action Crime Drama
2628                    Good Night, and Good Luck.                  Drama History
7667  Children of the Corn II: The Final Sacrifice                         Horror
8146                                  The Grudge 3        Mystery Horror Thriller
5785                           Ernest Goes to Camp                  Comedy Family
7817                                       Air Bud            Comedy Family Drama
5482                             The Paradine Case           Drama Crime Thriller
3276                                 Silver Streak  Comedy Crime Romance Thriller
2303                                       Bullitt    Action Crime Drama Thriller

====================Movie Similar to  Dangerous Minds  rated  3.0  by User=======================================

                                 title                                  genres
1223                  The Color Purple                                   Drama
3355                         Footloose              Drama Family Music Romance
1116                              Mama                                  Horror
817                            Ben-Hur          Action Adventure Drama History
1649                         Chronicle          Science Fiction Drama Thriller
4298                    Calendar Girls                                  Comedy
8881  Scooby-Doo 2: Monsters Unleashed        Mystery Fantasy Adventure Comedy
139                             Aliens  Horror Action Thriller Science Fiction
27                               Alien  Horror Action Thriller Science Fiction
1376             Good Morning, Vietnam                        Comedy Drama War

====================Movie Similar to  Yeh Jawaani Hai Deewani  rated  4.0  by User=======================================

                             title                                    genres
1734                  Mean Streets                               Drama Crime
1130  Fast Times at Ridgemont High                                    Comedy
779                  Before Sunset                             Drama Romance
2520              Jeepers Creepers                           Horror Thriller
3760                       Bananas                                    Comedy
4853      The Man from Snowy River       Family Drama Action Western Romance
126                           Room                            Drama Thriller
4175                Guys and Dolls                      Comedy Music Romance
5456                     My Family                              Comedy Drama
5320            Digimon: The Movie  Fantasy Animation Science Fiction Family

====================Movie Similar to  Star Wars  rated  5.0  by User=======================================

                                              title                                    genres
240                      E.T. the Extra-Terrestrial  Science Fiction Adventure Family Fantasy
72                                    The Lion King                    Family Animation Drama
0                                           Minions         Family Animation Adventure Comedy
180                                   Jurassic Park                 Adventure Science Fiction
9009                    The Twilight Saga: New Moon           Adventure Fantasy Drama Romance
15                                         Deadpool                   Action Adventure Comedy
134                                 Despicable Me 2                   Animation Comedy Family
30    The Lord of the Rings: The Return of the King                  Adventure Fantasy Action
29            The Lord of the Rings: The Two Towers                  Adventure Fantasy Action
8987                        The Secret Life of Pets                          Animation Family

====================Movie Similar to  Star Trek: Generations  rated  3.0  by User=======================================

                                      title                                     genres
6567                               The Cell            Horror Science Fiction Thriller
8684                              Predators  Action Science Fiction Adventure Thriller
1987                                   Lucy                     Action Science Fiction
2812                               Sex Tape                                     Comedy
8924  Spy Kids 2: The Island of Lost Dreams                    Action Adventure Family
9007                          Scary Movie 2                                     Comedy
8660          The Lost World: Jurassic Park           Adventure Action Science Fiction
1488                     My Sister's Keeper                                      Drama
2166                                  Ted 2                                     Comedy
250                                    Heat                Action Crime Drama Thriller

====================Movie Similar to  True Lies  rated  4.0  by User=======================================

                       title                                    genres
2851          Ocean's Twelve                            Thriller Crime
9058          Fantastic Four  Action Adventure Fantasy Science Fiction
8993              Scooby-Doo                  Mystery Adventure Comedy
418              Unbreakable            Science Fiction Thriller Drama
8513            The Smurfs 2           Fantasy Family Comedy Animation
9077  A Good Day to Die Hard                           Action Thriller
182         The Last Samurai                  Drama Action War History
4538  Something's Gotta Give                      Drama Comedy Romance
97          The Great Gatsby                             Drama Romance
8904          Batman Forever                      Action Crime Fantasy

=============================User May Also Like=============================================

                                          title                                        genres
811                                       Birdy                                 Drama History
1061                              The 400 Blows                                         Drama
1258                               The Warriors         Action Adventure Crime Drama Thriller
2179                           Forbidden Planet              Adventure Science Fiction Action
2217                              Man Bites Dog                     Comedy Crime Drama Horror
2280  Women on the Verge of a Nervous Breakdown                                  Comedy Drama
2343                                Microcosmos                                   Documentary
2910                              No Man's Land                          Drama Action History
2982                                    Henry V              War Drama History Action Romance
3019                    The Thomas Crown Affair                  Romance Crime Thriller Drama
3509                        One Magic Christmas                                Family Fantasy
3603                                 The Mighty                                  Comedy Drama
3791                             Breaker Morant                             Drama History War
4255                         A Walk on the Moon                                 Drama Romance
5104                                      Shaft               Adventure Action Thriller Crime
5364                                   Millions                            Comedy Crime Drama
5544                           An Ideal Husband                          Drama Comedy Romance
5705                                     Mifune                          Romance Comedy Drama
5834                                Jungle Book               Action Adventure Family Fantasy
6007                                  Innocence                                       Unknown
6080                         Truly Madly Deeply  Fantasy Drama Comedy Science Fiction Romance
6713                                  Maelstrm                                         Drama
6820                           Roseanna's Grave                          Comedy Romance Drama
7290            Love Is a Many-Splendored Thing                                 Drama Romance
8318                                  Superstar                                 Comedy Family