<a href="https://colab.research.google.com/github/disha2sinha/Movie-Recommendation-System/blob/master/Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING LIBRARIES:**

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
import math
import numpy as np

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
#https://drive.google.com/file/d/1HcaON_5Qz-bfqlRyDgVWfdS4bD0hQ0Z3/view?usp=sharing

In [3]:
id='1HcaON_5Qz-bfqlRyDgVWfdS4bD0hQ0Z3'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('MoviesData.csv')  
movies_data = pd.read_csv('MoviesData.csv',engine='python',index_col=0)
movies_data.head()

                     title release_year  ... rating_count mean_rating
0                    Se7en         1995  ...      91921.0    4.052926
1                   Batman         1989  ...      91082.0    4.429015
2  The Empire Strikes Back         1980  ...      87901.0    4.169975
3          Drag Me to Hell         2009  ...      84078.0    4.152246
4                  Suspect         1987  ...      77960.0    4.154098

[5 rows x 21 columns]

# **POPULARITY BASED RECOMMENDATION SYSTEM :**

In [13]:
movies_data[['vote_count','vote_average','rating_count','mean_rating','popularity']].describe()

         vote_count  vote_average  rating_count   mean_rating    popularity
count  45663.000000  45663.000000  45663.000000  45663.000000  45663.000000
mean     109.588179      5.617947    484.200666      0.771628      2.922354
std      490.228641      1.924399   2943.748802      1.389116      5.996711
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        3.000000      5.000000      0.000000      0.000000      0.386454
50%       10.000000      6.000000      0.000000      0.000000      1.129126
75%       34.000000      6.800000      0.000000      0.000000      3.685682
max    14075.000000     10.000000  91921.000000      5.000000    547.488298

**WEIGHTED AVERAGE FOR EACH MOVIES AVERAGE RATINGS :**

Weighted Ratings: 
>              W =   Rv + Cm
>                   ---------
                     v+m

R= average rating for the movie as a number from 0 to 10

v= number of votes for the movie

m= minimum votes required to be listed in Top(here 2000)

C=the mean vote across whole report

In [11]:
R=movies_data['vote_average']
v=movies_data['vote_count']
C=movies_data['vote_average'].mean()
m=2000

In [12]:
movies_data['weighted_ratings']=(R*v+C*m)/(v+m)
movies_data[['title','weighted_ratings']].sort_values('weighted_ratings',ascending=False).head(50)

                                                   title  weighted_ratings
67                              The Shawshank Redemption          7.943512
1555                                     The Dark Knight          7.924073
2120                                          Fight Club          7.840666
2130                                        Pulp Fiction          7.797272
6075                                           Inception          7.791191
9040                                       The Godfather          7.781642
33564                                       Interstellar          7.723561
109                                         Forrest Gump          7.691071
2594       The Lord of the Rings: The Return of the King          7.614560
1942   The Lord of the Rings: The Fellowship of the Ring          7.562605
2                                The Empire Strikes Back          7.554325
1497                                           Star Wars          7.534483
24                               Guardians of the Galaxy          7.520101
5265               The Lord of the Rings: The Two Towers          7.505849
2266                                    The Intouchables          7.503090
985                                           The Matrix          7.488040
0                                                  Se7en          7.472823
307                                     Schindler's List          7.466547
1597                                            Whiplash          7.458703
1063                                    Django Unchained          7.445108
2801                                  Back to the Future          7.421762
6169                                       Spirited Away          7.401189
7229                                  The Imitation Game          7.396567
986                              The Wolf of Wall Street          7.379459
2936                              Leon: The Professional          7.379389
277                                           Inside Out          7.377612
4334                                Inglourious Basterds          7.369166
861                                        The Lion King          7.366475
1205                                      The Green Mile          7.362487
7350                                   Life Is Beautiful          7.349423
32757                           The Silence of the Lambs          7.342005
1686        Harry Potter and the Deathly Hallows: Part 2          7.339368
1218                                           Gone Girl          7.331122
760                                                   Up          7.317672
5956                              The Godfather: Part II          7.309947
2955                                           Gladiator          7.296761
2772                                             Memento          7.295184
8972                                      Shutter Island          7.290115
5610                            The Grand Budapest Hotel          7.282946
33567                                             WALL·E          7.282864
1609                                          Big Hero 6          7.273506
3066                                        The Prestige          7.268186
2035                                 Saving Private Ryan          7.261485
134                                          The Shining          7.257198
5171                               The Dark Knight Rises          7.248042
283                                       Reservoir Dogs          7.247207
3762                     One Flew Over the Cuckoo's Nest          7.227393
3783                                  Return of the Jedi          7.225136
5315                                          La La Land          7.223335
3731                                          GoodFellas          7.208999